@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.quiz-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 800px;
  border-radius: 8px;
  box-shadow: 0 2.5rem 5rem rgba(0, 8, 78, 0.25);
}

.quiz-content {
  padding: 3em 3em 0.5em;
}

.submit-btn {
  width: 100%;
  border: none;
  background-color: #854bb3;
  padding: 1.2em 0;
  font-family: "Inter", sans-serif;
  font-size: 1.05em;
  font-weight: 500;
  color: white;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  transition: 0.3s ease opacity;
  cursor: pointer;
}

.submit-btn:hover {
  opacity: 0.8;
}

.question {
  text-align: center;
  font-weight: 500;
  font-size: 1.25em;
  margin-bottom: 4px;
}

.options {
  margin: 1.5em 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.option {
  padding: 1em 1.4em;
  margin: 1em;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 0.3s ease all;
  cursor: pointer;
}

.option:hover,
.option:focus {
  border: 1px solid rgba(98, 72, 244, 0.6);
}

.is-selected {
  border: 1px solid rgba(98, 72, 244, 0.6);
}

.correct {
  color: rgba(80, 200, 120, 1);
  background-color: rgba(80, 200, 120, 0.05);
  border: 1px solid rgba(80, 200, 120, 0.6);
}

.incorrect {
  color: rgba(255, 64, 64, 1);
  background-color: rgba(255, 64, 64, 0.05);
  border: 1px solid rgba(255, 64, 64, 0.6);
}

.options .disabled {
  pointer-events: none;
}

.result-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2.5rem 5rem rgba(0, 8, 78, 0.25);
  border-radius: 8px;
  width: 500px;
  height: 500px;
  animation-name: fadeInAnimation;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
}

@keyframes fadeInAnimation {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.result-content {
  padding: 3em;
}

.result-heading {
  font-weight: 500;
  text-align: center;
  font-size: 1.4em;
}

.img-container {
  display: flex;
  margin: 2em 0 2em;
}

.congratulations-image {
  width: 50%;
  margin: 0 auto;
}

.result {
  text-align: center;
  font-size: 1.2em;
  color: #111;
  margin-bottom: 1.5em;
}

.play-again {
  background-color: #854bb3;
  font-size: 1em;
  border: none;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin: 0 auto;
  width: 90%;
  border-radius: 8px;
  padding: 0.9em 1.5em;
  cursor: pointer;
  transition: 0.3s ease all;
}

.play-again:hover {
  opacity: 0.8;
}

.button-box {
  display: flex;
}
